@font-face {
    font-family: 'unisans';
    src: url('Uni\ Sans\ Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'monument';
    src: url('MonumentExtended-Ultrabold.otf') format('opentype');
}

@font-face {
    font-family: 'introcond';
    src: url('Intro\ Cond\ Black\ Free.otf') format('opentype');
}

@font-face {
    font-family: 'gilroyL';
    src: url('Gilroy-Light.otf') format('opentype')
}

@font-face {
    font-family: 'gilroy';
    src: url('fonts/Gilroy-ExtraBold.otf') format('opentype')
}



.myBoxWatchedParent {
    position: relative;
}

.myBoxButtonContainer {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.myBoxButton {
    position: relative;
    z-index: 100;
    letter-spacing: 1px;
    white-space: nowrap;
    /* new */
    background: transparent;        
    font-family: 'gilroy';
    font-weight: 900;
    cursor: pointer;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    box-shadow: none; /* Remove box shadow */
}


/* new start*/

.myBoxButton:nth-child(1):hover {
    background-color: #1a5d21;    
}

.myBoxButton:nth-child(2):hover {
    background-color: rgb(189, 22, 0);
}

.myBoxButton:nth-child(3):hover {
    background-color: rgb(206, 193, 1);
    color: black;
}

/* new end */

.myBoxButton.ytFix {
    top: auto;
    bottom: 10px;
    left: 10px;
}

.myBoxButton.ytFix.ytMini {
    font-size: 20px;
    padding: 5px 15px;
}

.myBoxButton.dpFix {
    margin: 10px;
}

.myBoxButtonWatched {
    background: rgba(0, 178, 26, 0.58) !important;
}

.myBoxButton.ytFixPage {
    position: relative !important;
    margin-left: 5px;
    border-radius: 15px;
    background: rgba(0, 178, 26, 0.58);
    padding: 2px 20px;
}

.ytFixPage.myBoxButtonWatched {
    background: rgba(0, 178, 26, 1) !important;
}

#actions > .myBoxButton.ytFixPage {
    padding: 5px 10px;
}

.myBoxWatched {
    opacity: 0.1;
}


/* Style for watched video thumbnails */
.watchedThumbnail {
    border: 8px solid green; /* Green border for watched videos */
    border-radius: 5px;  /* Optional: rounds the corners of the border */
    padding: 2px; /* Adjust padding to ensure the border isn't too tight */
}

.myBoxWatchedParent {
    border: 2px solid transparent; /* Default no border */
    transition: border 0.3s ease;
}

.ytFixPage {
    border: none !important;
    margin-right: 15px;
}

/* Space adjustments for elements */
#above-the-fold #top-row #owner,
div[id="dismissible"],
ytd-playlist-video-renderer > #content,
ytd-rich-item-renderer > #content {
    margin-right: 10px;
}

.impThumbnail {
    border: 10px solid red; /* Red border for important videos */
    border-radius: 0px;  /* Optional: rounds the corners of the border */
    padding: 3px; /* Adjust padding to ensure the border isn't too tight */
}
